// Variables colores

$aColor: #1f1d1d;
$linearGradient: linear-gradient(#0000FF, #0000A3);
$buttonColor: #00F3BB;
$primaryColor: #0000A3;
$aHover: #00F0B8;

// Fin variables colores
$buttonHover: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
