// Inicio footer

.footer{
    text-align: center;
    .copyright{
        padding: 4em 0;
        font-size: .8em 
    }
    .social-media{
        .fab{
            padding: 0 2em 2em 2em ;
        }
    }
}

// Fin footer